<div>
    <mat-card>

        <mat-card-title>
            Hello this is my cool app
        </mat-card-title>

        <mat-card-subtitle>
            {{ subtitle }}
        </mat-card-subtitle>

        <mat-card-actions>
            <button mat-raised-button color="primary" style=" width:10em" (click)="login()"> Login </button>
            <button mat-raised-button color="primary" style=" width:10em" (click)="home()"> Home </button>
            <button mat-raised-button color="primary" style=" width:10em" (click)="postOffer()"> Create new offer </button>
            <button mat-raised-button color="primary" style=" width:10em" (click)="seeCart()">See Cart</button>
            <button mat-raised-button color="primary" style=" width:10em" (click)="register()"> Registration </button>
        </mat-card-actions>

    </mat-card>
</div>