<form #createForm="ngForm" class="container p-3">

    <mat-label>
        <h2>Login</h2>
    </mat-label>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Email <address></address> </mat-label>
        <input type="email" name="email" ngModel email required matInput placeholder="test@exp.com" [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Password <address></address> </mat-label>
        <input type="password" name="password" ngModel required matInput [(ngModel)]="password">
    </mat-form-field>

    <button type="button" mat-raised-button color="accent" (click)="submit(createForm)">Login</button>

</form>